.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 30px 30px;
}

input {
    height: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 16px;
    padding: 0 20px;
    margin-bottom: 5px;
}

input:focus {
    outline: none;
}

p {
    border: 1px #9ec1de solid;
    background: aliceblue;
}



